/*source: http://johnmacfarlane.net/pandoc/demo/pandoc.css*/
body {
    margin: auto;
    padding: 1em;
    max-width: 60em; 
    border: 1px solid black;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    line-height: 130%;
}
pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}
code {
    font-family: monospace;
    background-color: #ececec;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #E3191D; 
}

h1, h2, h3, h4, h5 { 
    font-family: verdana;
    font-weight: bold;
    border-bottom: 1px dotted black;
    color: #E3191D; 
}

h1 {
        font-size: 130%;
}

h2 {
        font-size: 110%;
}

h3 {
        font-size: 95%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

a {
    color: #BF1518
}

dt code {
        font-weight: bold;
}

dd p {
        margin-top: 0;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

#header {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: right;
        }

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
        }
